.env
db.sqlite3
node_modules/
dist
dist-ssr
*.local
__pycache__
faiss_index/
faiss_index
.conda
.conda/

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
node_modules
